<h1> <%= current_user.username %> </h1>

<p>Location: <%= current_user.state %>, <%= current_user.city %> </p>
<p>Trade Rating: <%= current_user.rating %> </p>


<div>
	<h2>My Posts</h2>
	<% @posts.each do |post| %>	
		<div>
			<%= link_to "See Post", post_path(post) %>
			<%= post.title %>
			<%= post.created_at %>
			<%= post.status %>
		</div>
	<% end %>
</div>

<div>
	<h2>Watching</h2>
	<% @watches.each do |watch| %>
		<div>
			<%= Post.find_by(id: watch.post_id).title %>
			<%= Post.find_by(id: watch.post_id).created_at %>
			<%= Post.find_by(id: watch.post_id).status %>
		</div>
	<% end %>
</div>