<div class="page-header">
	<h1> <%= current_user.username %> </h1>
</div>

<p>Location: <%= current_user.state %>, <%= current_user.city %> </p>
<p>Trade Rating: <%= current_user.rating %> </p>
<p> <%= link_to "Edit Profile", edit_user_path(current_user) %> </p>


<div>
	<h2>My Posts</h2>
	<% @posts.where(status: 'Available').each do |post| %>
			<div class="post-summary">
				<div class="panel panel-default">
					<div class="panel-heading"><h3><%= link_to post.title, post_path(post) %> | <span class="text-success"><%= post.status %></span></h3></div>
					<div class="panel-body">
						<p> <%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %> </p>
						<p><strong>Description:</strong></p>
						<p> <%= post.description %> </p>
						<p><strong>Looking For:</strong></p>
						<p> <%= post.wanted %> </p>
						<p> <%= post.created_at %></p>
					</div>
				</div>
			</div>
			<div class="trade-offers">
				<h4>Trade Offers</h4>
				<% Trade.where(post_id: post.id).each do |trade| %>
					<% user = User.find_by(id: trade.user_id) %>
					<div class="panel panel-default">
						<div class="panel-body">
							<p> <%= link_to user.username, user_path(id: trade.user_id) %> | Trade Rating: <%= user.rating %> <%= button_to "Send Message", {:controller => 'chats', :action => 'create', :user_id => user.id}, :method => :post, :class => "btn btn-primary" %></p>
							<p> <%= trade.description %> </p>
							<p> <%= trade.condition %> </p>
						</div>
					</div>
				<% end %>
			</div>
	<% end %>
	<% @posts.where(status: 'Closed').each do |post| %>
			<div class="post-summary">
				<div class="panel panel-default">
					<div class="panel-heading"><h3><%= link_to post.title, post_path(post) %> | <span class="text-danger"><%= post.status %></span></h3></div>
					<div class="panel-body">
						<p> <%= link_to "Edit", edit_post_path(post) %> | <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %> </p>
						<p><strong>Description:</strong></p>
						<p> <%= post.description %> </p>
						<p><strong>Looking For:</strong></p>
						<p> <%= post.wanted %> </p>
						<p> <%= post.created_at %></p>
					</div>
				</div>
			</div>
			<div class="trade-offers">
				<h4>Trade Offers</h4>
				<% Trade.where(post_id: post.id).each do |trade| %>
					<% user = User.find_by(id: trade.user_id) %>
					<div class="panel panel-default">
						<div class="panel-body">
							<p> <%= link_to user.username, user_path(id: trade.user_id) %> | Trade Rating: <%= user.rating %> <%= button_to "Send Message", {:controller => 'chats', :action => 'create', :user_id => user.id}, :method => :post, :class => "btn btn-primary" %></p>
							<p> <%= trade.description %> </p>
							<p> <%= trade.condition %> </p>
						</div>
					</div>
				<% end %>
			</div>
	<% end %>
</div>

<div>
	<h2>Watching</h2>
	<% @watches.each do |watch| %>
		<% post = Post.find_by(id: watch.post_id) %>
		<% user = User.find_by(id: post.user_id) %>
		<div class="post-summary">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3> <%= link_to post.title, post_path(post) %> | <% if post.status == 'Available' %> 
							<span class="text-success"><%= post.status %></span>
							<%else%>
							<span class="text-danger"><%= post.status %></span>
						<%end%></h3>
				</div>
				<div class="panel-body">
					<p> <%= link_to user.username, user_path(user) %> | Trade Rating: <%= user.rating %> <%= button_to "Send Message", {:controller => 'chats', :action => 'create', :user_id => user.id}, :method => :post %> </p>
					<p><strong>Description:</strong></p>
					<p> <%= post.description %> </p>
					<p><strong>Looking For:</strong></p>
					<p> <%= post.wanted %> </p>
					<p> <%= post.created_at %> </p>
					<p> <%= link_to "Unwatch", delete_watch_path(watch) ,method: :delete ,data: {confirm: "Are you sure you want to unwatch this post?"} %> </p>
				</div>
			</div>
		</div>
		<% if Trade.find_by(post_id: post.id, user_id: current_user.id) %>
			<div class="trade-offers">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>My Trade Offer</h4>
						<% trade = Trade.find_by(post_id: post.id, user_id: current_user.id) %>
						<p> <%= trade.description %> </p>
						<p> <%= trade.condition %> </p>
					</div>
				</div>
			</div>
		<% end %>	
	<% end %>
</div>

<div>
	<h2>My Trade Offers</h2>
	<% @trades.each do |trade| %>
		<% post = Post.find_by(id: trade.post_id) %>
		<% user = User.find_by(id: post.user_id) %>
		<div class="post-summary">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3> <%= link_to post.title, post_path(post) %> | <% if post.status == 'Available' %> 
							<span class="text-success"><%= post.status %></span>
							<%else%>
							<span class="text-danger"><%= post.status %></span>
						<%end%></h3>
				</div>
				<div class="panel-body">
					<p> <%= link_to user.username, user_path(user) %> | Trade Rating: <%= user.rating %> <%= button_to "Send Message", {:controller => 'chats', :action => 'create', :user_id => user.id}, :method => :post %> </p>
					<p><strong>Description:</strong></p>
					<p> <%= post.description %> </p>
					<p><strong>Looking For:</strong></p>
					<p> <%= post.wanted %> </p>
					<p> <%= post.created_at %> </p>
					<h3> My Trade Offer</h3>
					<p> <%= trade.description %> </p>
					<p> <%= trade.condition %> </p>
					<p> <%= link_to "Cancel Trade Offer", delete_trade_path(trade) ,method: :delete ,data: {confirm: "Are you sure you want to cancel this trade offer?"} %> </p>
				</div>
			</div>
		</div>
	<% end %>
</div>

