<h1> <%= @user.username %> </h1>
<p>Location: <%= @user.city %>, <%= @user.state %> </p>
<p>Trade Rating: <%= @user.rating %> </p>

<h3><%= @user.username %>'s Posts</h3>
<% @posts.each do |post| %>
	<div class="post-summary">
		<%= link_to post.title, post_path(post) %><br>
		<% if post.category_id %><%= Category.find_by(id: post.category_id).full_name %><% end %>
		<%= post.created_at %>
		<%= post.status %>
	</div>
<% end %>