<%= link_to "Create Post", new_post_path %>
<div>
	<h1>New Posts</h1>

</div>

<div>
	<h1>Departments</h1>
	<%= link_to "Guitars", guitars_path %><br>
	<%= link_to "Bass Guitars", bass_path %><br>
	<%= link_to "Amplifiers", amplifiers_path %><br>
	<%= link_to "Effects", effects_path %><br>
	<%= link_to "Drums & Percussion", drums_path %><br>
	<%= link_to "Keyboards & MIDI", keyboards_path %><br>
	<%= link_to "Live Sound", live_path %><br>
	<%= link_to "Recording", recording_path %><br>
	<%= link_to "Microphones", microphones_path %><br>
	<%= link_to "All Listings", posts_path %><br>
</div>