<div>
	<h1>New Posts</h1>

</div>

<div>
	<h1>Departments</h1>
	<%= link_to "Guitars", guitars_path %>
	<%= link_to "Bass Guitars", bass_path %>
	<%= link_to "Amplifiers", amplifiers_path %>
	<%= link_to "Effects", effects_path %>
	<%= link_to "Drums & Percussion", drums_path %>
	<%= link_to "Keyboards & MIDI", keyboards_path %>
	<%= link_to "Live Sound", live_path %>
	<%= link_to "Recording", recording_path %>
	<%= link_to "All Listings", posts_path %>
</div>