<div>
	<h1>New Posts</h1>
	<% post1 = @posts[@posts.length - 1] %>
	<div class="post-summary">
		<p><%= link_to post1.title, post_path(post1) %></p>
		<p><%= post1.condition %> | <%= post1.status %></p>
		<p>Description: <%= post1.description %></p>
		<p>Post1ed by: <%= link_to User.find_by(id: post1.user_id).username, user_path(User.find_by(id: post1.user_id)) %></p>
		<p>Date Post1ed: <%= post1.created_at %></p>
		<p>Trade Rating: <%= User.find_by(id: post1.user_id).rating %></p>
	</div>
	<% post2 = @posts[@posts.length - 2] %>
	<div class="post-summary">
		<p><%= link_to post2.title, post_path(post2) %></p>
		<p><%= post2.condition %> | <%= post2.status %></p>
		<p>Description: <%= post2.description %></p>
		<p>Post2ed by: <%= link_to User.find_by(id: post2.user_id).username, user_path(User.find_by(id: post2.user_id)) %></p>
		<p>Date Post2ed: <%= post2.created_at %></p>
		<p>Trade Rating: <%= User.find_by(id: post2.user_id).rating %></p>
	</div>
	<% post3 = @posts[@posts.length - 3] %>
	<div class="post-summary">
		<p><%= link_to post3.title, post_path(post3) %></p>
		<p><%= post3.condition %> | <%= post3.status %></p>
		<p>Description: <%= post3.description %></p>
		<p>Post3ed by: <%= link_to User.find_by(id: post3.user_id).username, user_path(User.find_by(id: post3.user_id)) %></p>
		<p>Date Post3ed: <%= post3.created_at %></p>
		<p>Trade Rating: <%= User.find_by(id: post3.user_id).rating %></p>
	</div>
	<% post4 = @posts[@posts.length - 4] %>
	<div class="post-summary">
		<p><%= link_to post4.title, post_path(post4) %></p>
		<p><%= post4.condition %> | <%= post4.status %></p>
		<p>Description: <%= post4.description %></p>
		<p>Post4ed by: <%= link_to User.find_by(id: post4.user_id).username, user_path(User.find_by(id: post4.user_id)) %></p>
		<p>Date Post4ed: <%= post4.created_at %></p>
		<p>Trade Rating: <%= User.find_by(id: post4.user_id).rating %></p>
	</div>
	<% post5 = @posts[@posts.length - 5] %>
	<div class="post-summary">
		<p><%= link_to post5.title, post_path(post5) %></p>
		<p><%= post5.condition %> | <%= post5.status %></p>
		<p>Description: <%= post5.description %></p>
		<p>Post5ed by: <%= link_to User.find_by(id: post5.user_id).username, user_path(User.find_by(id: post5.user_id)) %></p>
		<p>Date Post5ed: <%= post5.created_at %></p>
		<p>Trade Rating: <%= User.find_by(id: post5.user_id).rating %></p>
	</div>

</div>

<div>
	<h1>Departments</h1>
	<%= link_to "Guitars", guitars_path %><br>
	<%= link_to "Bass Guitars", bass_path %><br>
	<%= link_to "Amplifiers", amplifiers_path %><br>
	<%= link_to "Effects", effects_path %><br>
	<%= link_to "Drums & Percussion", drums_path %><br>
	<%= link_to "Keyboards & MIDI", keyboards_path %><br>
	<%= link_to "Live Sound", live_path %><br>
	<%= link_to "Recording", recording_path %><br>
	<%= link_to "Microphones", microphones_path %><br>
	<%= link_to "Other", other_path %><br>
	<%= link_to "All Listings", posts_path %><br>
</div>