<h1>Amplifiers</h1>

<div>
	<%= link_to "Combos", category_path(Category.find_by(name: 'combos')) %>

</div>
<div>
	<%= link_to "Tubes", category_path(Category.find_by(name: 'tubes')) %>

</div>
<div>
	<%= link_to "Heads", category_path(Category.find_by(name: 'heads')) %>

</div>
<div>
	<%= link_to "Cabinets", category_path(Category.find_by(name: 'cabinets')) %>

</div>
<div>
	<%= link_to "Stacks", category_path(Category.find_by(name: 'stacks')) %>

</div>
<div>
	<%= link_to "Preamps", category_path(Category.find_by(name: 'preamps')) %>

</div>
<div>
	<%= link_to "Amp Accessories", category_path(Category.find_by(name: 'ampacc')) %>
	
</div>