<h1>Drums</h1>

<div>
	<%= link_to "Acoustic Drums", category_path(Category.find_by(name: 'adrums')) %>

</div>
<div>
	<%= link_to "Electric Drums", category_path(Category.find_by(name: 'edrums')) %>

</div>
<div>
	<%= link_to "Cymbals", category_path(Category.find_by(name: 'cymbals')) %>

</div>
<div>
	<%= link_to "Percussion", category_path(Category.find_by(name: ''percussion)) %>

</div>
<div>
	<%= link_to "Drum Accessories", category_path(Category.find_by(name: 'drumacc')) %>

</div>