<h1>Effects</h1>

<div>
	<%= link_to "Effects Pedals", category_path(Category.find_by(name: 'epedals')) %>

</div>
<div>
	<%= link_to "Mutli-Effects Pedals", category_path(Category.find_by(name: 'mepedals')) %>

</div>
<div>
	<%= link_to "Bass Pedals", category_path(Category.find_by(name: 'bpedals')) %>

</div>
<div>
	<%= link_to "Vocal Effects Pedals", category_path(Category.find_by(name: 'vepedals')) %>

</div>
<div>
	<%= link_to "Effects Accessories", category_path(Category.find_by(name: 'fxacc')) %>

</div>