<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-2">
			<div class="page-header">
				<h1>Departments</h1>
			</div>
			<div id="departments">
				<div class="btn-group-vertical" role="group" aria-label="...">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Guitars
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "Electric Guitars", category_path(Category.find_by(name: 'eguitar')) %></li>
					    	<li><%= link_to "Acoustic Guitars", category_path(Category.find_by(name: 'aguitar')) %></li>
					    	<li><%= link_to "Classical Guitars", category_path(Category.find_by(name: 'cguitar')) %></li>
					    	<li><%= link_to "Guitar Accessories", category_path(Category.find_by(name: 'guitaracc')) %></li>
					    </ul>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Bass Guitars
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "Electric Bass", category_path(Category.find_by(name: 'ebass')) %></li>
					    	<li><%= link_to "Acoustic Bass", category_path(Category.find_by(name: 'abass')) %></li>
					    </ul>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Amplifiers
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "Combos", category_path(Category.find_by(name: 'combos')) %></li>
					    	<li><%= link_to "Tubes", category_path(Category.find_by(name: 'tubes')) %></li>
					    	<li><%= link_to "Heads", category_path(Category.find_by(name: 'heads')) %></li>
					    	<li><%= link_to "Cabinets", category_path(Category.find_by(name: 'cabinets')) %></li>
					    	<li><%= link_to "Stacks", category_path(Category.find_by(name: 'stacks')) %></li>
					    	<li><%= link_to "Preamps", category_path(Category.find_by(name: 'preamps')) %></li>
					    	<li><%= link_to "Amp Accessories", category_path(Category.find_by(name: 'ampacc')) %></li>
					    </ul>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Effects
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "Effects Pedals", category_path(Category.find_by(name: 'epedals')) %></li>
					    	<li><%= link_to "Mutli-Effects Pedals", category_path(Category.find_by(name: 'mepedals')) %></li>
					    	<li><%= link_to "Bass Pedals", category_path(Category.find_by(name: 'bpedals')) %></li>
					    	<li><%= link_to "Vocal Effects Pedals", category_path(Category.find_by(name: 'vepedals')) %></li>
					    	<li><%= link_to "Effects Accessories", category_path(Category.find_by(name: 'fxacc')) %></li>
					    </ul>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Drums & Percussion
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "Acoustic Drums", category_path(Category.find_by(name: 'adrums')) %></li>
					    	<li><%= link_to "Electric Drums", category_path(Category.find_by(name: 'edrums')) %></li>
					    	<li><%= link_to "Cymbals", category_path(Category.find_by(name: 'cymbals')) %></li>
					    	<li><%= link_to "Percussion", category_path(Category.find_by(name: 'percussion')) %></li>
					    	<li><%= link_to "Drum Accessories", category_path(Category.find_by(name: 'drumacc')) %></li>
					    </ul>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Keyboards & MIDI
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "Digital Pianos", category_path(Category.find_by(name: 'dpianos')) %></li>
					    	<li><%= link_to "Synthesizers", category_path(Category.find_by(name: 'synthesizers')) %></li>
					    	<li><%= link_to "Workstations", category_path(Category.find_by(name: 'workstations')) %></li>
					    	<li><%= link_to "MIDI Controllers", category_path(Category.find_by(name: 'mcontrollers')) %></li>
					    	<li><%= link_to "MIDI Interfaces", category_path(Category.find_by(name: 'minterfaces')) %></li>
					    	<li><%= link_to "Keyboard Accessories", category_path(Category.find_by(name: 'keyacc')) %></li>
					    </ul>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Live Sound
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "Active PA Speakers", category_path(Category.find_by(name: 'active')) %></li>
					    	<li><%= link_to "Passive PA Speakers", category_path(Category.find_by(name: 'passive')) %></li>
					    	<li><%= link_to "Stage Monitors", category_path(Category.find_by(name: 'stagemon')) %></li>
					    	<li><%= link_to "Power Amplifiers", category_path(Category.find_by(name: 'poweramp')) %></li>
					    	<li><%= link_to "Subwoofers", category_path(Category.find_by(name: 'subwoofers')) %></li>
					    </ul>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Recording
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "Studio Monitors", category_path(Category.find_by(name: 'studiomon')) %></li>
					    	<li><%= link_to "Audio Interfaces", category_path(Category.find_by(name: 'audioint')) %></li>
					    	<li><%= link_to "Audio Converters", category_path(Category.find_by(name: 'audiocon')) %></li>
					    	<li><%= link_to "Software", category_path(Category.find_by(name: 'software')) %></li>
					    	<li><%= link_to "Recording Accessories", category_path(Category.find_by(name: 'recacc')) %></li>
					    </ul>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Microphones
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "Dynamic", category_path(Category.find_by(name: 'dynamic')) %></li>
					    	<li><%= link_to "Condenser", category_path(Category.find_by(name: 'condenser')) %></li>
					    	<li><%= link_to "Tube", category_path(Category.find_by(name: 'tube')) %></li>
					    	<li><%= link_to "Ribbon", category_path(Category.find_by(name: 'ribbon')) %></li>
					    	<li><%= link_to "Drum", category_path(Category.find_by(name: 'drum')) %></li>
					    	<li><%= link_to "USB", category_path(Category.find_by(name: 'usb')) %></li>
					    	<li><%= link_to "Microphone Accessories", category_path(Category.find_by(name: 'micacc')) %></li>
					    </ul>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    Miscellaneous
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "Miscellaneous", category_path(Category.find_by(name: 'other')) %></li>
					    </ul>
					</div>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    All Listings
						    <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					    	<li><%= link_to "All Listings", category_path(Category.find_by(name: 'eguitar')) %></li>
					    </ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="page-header">
				<h1>New Posts</h1>
			</div>
			<% post1 = @posts[@posts.length - 1] %>
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= link_to post1.title, post_path(post1) %></h3>
					</div>
					<div class="panel-body">
						<p><%= post1.condition %> | <% if post1.status == 'Available' %> 
							<span class="text-success"><%= post1.status %></span>
							<%else%>
							<span class="text-danger"><%= post1.status %></span>
						<%end%></p>
						<p><strong>Description:</strong></p>
						<p><%= post1.description %></p><br>
						<p>Posted by: <%= link_to User.find_by(id: post1.user_id).username, user_path(User.find_by(id: post1.user_id)) %></p>
						<p>Posted on: <%= post1.created_at %></p>
						<p>Trade Rating: <%= User.find_by(id: post1.user_id).rating %></p>
					</div>
				</div>
			</div>
			<% post2 = @posts[@posts.length - 2] %>
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= link_to post2.title, post_path(post1) %></h3>
					</div>
					<div class="panel-body">
						<p><%= post2.condition %> | <% if post2.status == 'Available' %> 
							<span class="text-success"><%= post2.status %></span>
							<%else%>
							<span class="text-danger"><%= post2.status %></span>
						<%end%></p>
						<p><strong>Description:</strong></p>
						<p><%= post2.description %></p><br>
						<p>Posted by: <%= link_to User.find_by(id: post2.user_id).username, user_path(User.find_by(id: post2.user_id)) %></p>
						<p>Posted on: <%= post2.created_at %></p>
						<p>Trade Rating: <%= User.find_by(id: post2.user_id).rating %></p>
					</div>
				</div>
			</div>
			<% post3 = @posts[@posts.length - 3] %>
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= link_to post3.title, post_path(post1) %></h3>
					</div>
					<div class="panel-body">
						<p><%= post3.condition %> | <% if post3.status == 'Available' %> 
							<span class="text-success"><%= post3.status %></span>
							<%else%>
							<span class="text-danger"><%= post3.status %></span>
						<%end%></p>
						<p><strong>Description:</strong></p>
						<p><%= post3.description %></p><br>
						<p>Posted by: <%= link_to User.find_by(id: post3.user_id).username, user_path(User.find_by(id: post3.user_id)) %></p>
						<p>Posted on: <%= post3.created_at %></p>
						<p>Trade Rating: <%= User.find_by(id: post3.user_id).rating %></p>
					</div>
				</div>
			</div>
			<% post4 = @posts[@posts.length - 4] %>
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= link_to post4.title, post_path(post1) %></h3>
					</div>
					<div class="panel-body">
						<p><%= post4.condition %> | <% if post4.status == 'Available' %> 
							<span class="text-success"><%= post4.status %></span>
							<%else%>
							<span class="text-danger"><%= post4.status %></span>
						<%end%></p>
						<p><strong>Description:</strong></p>
						<p><%= post4.description %></p><br>
						<p>Posted by: <%= link_to User.find_by(id: post4.user_id).username, user_path(User.find_by(id: post4.user_id)) %></p>
						<p>Posted on: <%= post4.created_at %></p>
						<p>Trade Rating: <%= User.find_by(id: post4.user_id).rating %></p>
					</div>
				</div>
			</div>
			<% post5 = @posts[@posts.length - 5] %>
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= link_to post5.title, post_path(post1) %></h3>
					</div>
					<div class="panel-body">
						<p><%= post5.condition %> | <% if post5.status == 'Available' %> 
							<span class="text-success"><%= post5.status %></span>
							<%else%>
							<span class="text-danger"><%= post5.status %></span>
						<%end%></p>
						<p><strong>Description:</strong></p>
						<p><%= post5.description %></p><br>
						<p>Posted by: <%= link_to User.find_by(id: post5.user_id).username, user_path(User.find_by(id: post5.user_id)) %></p>
						<p>Posted on: <%= post5.created_at %></p>
						<p>Trade Rating: <%= User.find_by(id: post5.user_id).rating %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>