<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-2">
			<div class="page-header">
				<h1>Departments</h1>
			</div>
			<div id="departments">
				<div class="list-group">
					<strong><%= link_to "Guitars", guitars_path, {:class => 'list-group-item list-group-item-info'} %></strong>
					<strong><%= link_to "Bass Guitars", bass_path, {:class => 'list-group-item list-group-item-info'} %></strong>
					<strong><%= link_to "Amplifiers", amplifiers_path, {:class => 'list-group-item list-group-item-info'} %></strong>
					<strong><%= link_to "Effects", effects_path, {:class => 'list-group-item list-group-item-info'} %></strong>
					<strong><%= link_to "Drums & Percussion", drums_path, {:class => 'list-group-item list-group-item-info'} %></strong>
					<strong><%= link_to "Keyboards & MIDI", keyboards_path, {:class => 'list-group-item list-group-item-info'} %></strong>
					<strong><%= link_to "Live Sound", live_path, {:class => 'list-group-item list-group-item-info'} %></strong>
					<strong><%= link_to "Recording", recording_path, {:class => 'list-group-item list-group-item-info'} %></strong>
					<strong><%= link_to "Microphones", microphones_path, {:class => 'list-group-item list-group-item-info'} %></strong>
					<strong><%= link_to "Other", other_path, {:class => 'list-group-item list-group-item-info'} %></strong>
					<strong><%= link_to "All Listings", posts_path, {:class => 'list-group-item list-group-item-info'} %></strong>
				</div>
			</div>
		</div>
		<div class="col-xs-10">
			<div class="page-header">
				<h1>New Posts</h1>
			</div>
			<% post1 = @posts[@posts.length - 1] %>
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= link_to post1.title, post_path(post1) %></h3>
					</div>
					<div class="panel-body">
						<p><%= post1.condition %> | <% if post1.status == 'Available' %> 
							<span class="text-success"><%= post1.status %></span>
							<%else%>
							<span class="text-danger"><%= post1.status %></span>
						<%end%></p>
						<p><strong>Description:</strong></p>
						<p><%= post1.description %></p><br>
						<p>Posted by: <%= link_to User.find_by(id: post1.user_id).username, user_path(User.find_by(id: post1.user_id)) %></p>
						<p>Posted on: <%= post1.created_at %></p>
						<p>Trade Rating: <%= User.find_by(id: post1.user_id).rating %></p>
					</div>
				</div>
			</div>
			<% post2 = @posts[@posts.length - 2] %>
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= link_to post2.title, post_path(post1) %></h3>
					</div>
					<div class="panel-body">
						<p><%= post2.condition %> | <% if post2.status == 'Available' %> 
							<span class="text-success"><%= post2.status %></span>
							<%else%>
							<span class="text-danger"><%= post2.status %></span>
						<%end%></p>
						<p><strong>Description:</strong></p>
						<p><%= post2.description %></p><br>
						<p>Posted by: <%= link_to User.find_by(id: post2.user_id).username, user_path(User.find_by(id: post2.user_id)) %></p>
						<p>Posted on: <%= post2.created_at %></p>
						<p>Trade Rating: <%= User.find_by(id: post2.user_id).rating %></p>
					</div>
				</div>
			</div>
			<% post3 = @posts[@posts.length - 3] %>
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= link_to post3.title, post_path(post1) %></h3>
					</div>
					<div class="panel-body">
						<p><%= post3.condition %> | <% if post3.status == 'Available' %> 
							<span class="text-success"><%= post3.status %></span>
							<%else%>
							<span class="text-danger"><%= post3.status %></span>
						<%end%></p>
						<p><strong>Description:</strong></p>
						<p><%= post3.description %></p><br>
						<p>Posted by: <%= link_to User.find_by(id: post3.user_id).username, user_path(User.find_by(id: post3.user_id)) %></p>
						<p>Posted on: <%= post3.created_at %></p>
						<p>Trade Rating: <%= User.find_by(id: post3.user_id).rating %></p>
					</div>
				</div>
			</div>
			<% post4 = @posts[@posts.length - 4] %>
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= link_to post4.title, post_path(post1) %></h3>
					</div>
					<div class="panel-body">
						<p><%= post4.condition %> | <% if post4.status == 'Available' %> 
							<span class="text-success"><%= post4.status %></span>
							<%else%>
							<span class="text-danger"><%= post4.status %></span>
						<%end%></p>
						<p><strong>Description:</strong></p>
						<p><%= post4.description %></p><br>
						<p>Posted by: <%= link_to User.find_by(id: post4.user_id).username, user_path(User.find_by(id: post4.user_id)) %></p>
						<p>Posted on: <%= post4.created_at %></p>
						<p>Trade Rating: <%= User.find_by(id: post4.user_id).rating %></p>
					</div>
				</div>
			</div>
			<% post5 = @posts[@posts.length - 5] %>
			<div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= link_to post5.title, post_path(post1) %></h3>
					</div>
					<div class="panel-body">
						<p><%= post5.condition %> | <% if post5.status == 'Available' %> 
							<span class="text-success"><%= post5.status %></span>
							<%else%>
							<span class="text-danger"><%= post5.status %></span>
						<%end%></p>
						<p><strong>Description:</strong></p>
						<p><%= post5.description %></p><br>
						<p>Posted by: <%= link_to User.find_by(id: post5.user_id).username, user_path(User.find_by(id: post5.user_id)) %></p>
						<p>Posted on: <%= post5.created_at %></p>
						<p>Trade Rating: <%= User.find_by(id: post5.user_id).rating %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>