<h1>Keyboards & MIDI</h1>

<div>
	<%= link_to "Digital Pianos", category_path(Category.find_by(name: 'dpianos')) %>

</div>
<div>
	<%= link_to "Synthesizers", category_path(Category.find_by(name: 'synthesizers')) %>

</div>
<div>
	<%= link_to "Workstations", category_path(Category.find_by(name: 'workstations')) %>

</div>
<div>
	<%= link_to "MIDI Controllers", category_path(Category.find_by(name: 'mcontrollers')) %>

</div>
<div>
	<%= link_to "MIDI Interfaces", category_path(Category.find_by(name: 'minterfaces')) %>

</div>
<div>
	<%= link_to "Keyboard Accessories", category_path(Category.find_by(name: 'keyacc')) %>

</div>