<h1>Live Sound</h1>

<div>
	<%= link_to "Active PA Speakers", category_path(Category.find_by(name: 'active')) %>

</div>
<div>
	<%= link_to "Passive PA Speakers", category_path(Category.find_by(name: 'passive')) %>

</div>
<div>
	<%= link_to "Stage Monitors", category_path(Category.find_by(name: 'stagemon')) %>

</div>
<div>
	<%= link_to "Power Amplifiers", category_path(Category.find_by(name: 'poweramp')) %>

</div>
<div>
	<%= link_to "Subwoofers", category_path(Category.find_by(name: 'subwoofers')) %>

</div>