<h1>Microphones</h1>

<div>
	<%= link_to "Dynamic", category_path(Category.find_by(name: 'dynamic')) %>

</div>
<div>
	<%= link_to "Condenser", category_path(Category.find_by(name: 'condenser')) %>

</div>
<div>
	<%= link_to "Tube", category_path(Category.find_by(name: 'tube')) %>

</div>
<div>
	<%= link_to "Ribbon", category_path(Category.find_by(name: 'ribbon')) %>

</div>
<div>
	<%= link_to "Drum", category_path(Category.find_by(name: 'drum')) %>

</div>
<div>
	<%= link_to "USB", category_path(Category.find_by(name: 'usb')) %>

</div>
<div>
	<%= link_to "Microphone Accessories", category_path(Category.find_by(name: 'micacc')) %>

</div>