<%= form_for(@post) do |f| %>

      <% flash.each do |key,value|  %>
        <div class="<%= key %>" > <%= value %> </div>
      <% end %>

      <%= f.text_field :title, placeholder: "Title" %>
<br>
      <%= f.select :condition, [['New', 'New'], ['Used - Like New', 'Used - Like New'], ['Used - Good', 'Used - Good'], ['Used - Acceptable', 'Used - Acceptable'], ['Refurbished', 'Refurbished']] %>
<br>
      <%= f.text_field :description, placeholder: "Description", :size=>"150" %>
<br>
      <%= f.text_field :wanted, placeholder: "Items Wanted", :size=>"150" %>
<br>
      <!-- drop down men for category -->

      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :status, :value => "Available" %>


      <%= f.submit "Create Post" %>
<% end %>
