<h1>Recording</h1>

<div>
	<%= link_to "Studio Monitors", category_path(Category.find_by(name: 'studiomon')) %>

</div>
<div>
	<%= link_to "Audio Interfaces", category_path(Category.find_by(name: 'audioint')) %>

</div>
<div>
	<%= link_to "Audio Converters", category_path(Category.find_by(name: 'audiocon')) %>

</div>
<div>
	<%= link_to "Software", category_path(Category.find_by(name: 'software')) %>

</div>
<div>
	<%= link_to "Recording Accessories", category_path(Category.find_by(name: 'recacc')) %>

</div>