<%= @post.title %><br>
<%= @post.condition %><br>
<%= @post.description %><br>
<%= @post.wanted %><br>
<br>
<%= link_to @post.user.username, user_path(@post.user) %><br>
<p>Trade Rating: <%= @post.user.rating %></p>


