<!DOCTYPE html>
<html lang="en">
<head>
  <title>GearTrader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
			<%= link_to "Gear Trader", home_path, {:class => 'btn btn-primary navbar-btn navbar-left'} %>

			<% if current_user  %>
			  	<%= link_to "Create Post", new_post_path, {:class => 'btn btn-default navbar-btn navbar-right'} %> 
			  	<%= link_to "Logout", destroy_session_path, {:class => 'btn btn-default navbar-btn navbar-right'} %> 
			  	<%= link_to "Inbox", chats_path, {:class => 'btn btn-default navbar-btn navbar-right'} %>
				<%= link_to current_user.username, profile_path, {:class => 'btn btn-default navbar-btn navbar-right'} %> 
			<% else %>
			    <%= link_to "Login", new_session_path, {:class => 'btn btn-default navbar-btn navbar-right'} %> 
				<%= link_to "Register", new_user_path, {:class => 'btn btn-default navbar-btn navbar-right'} %> 
			<% end %>
			
			<% flash.each do |key,value|  %>
			    <div class="<%= key %>" > <%= value %> </div>
			<% end %>
		</div>
	</nav>
	<br>
	<br>

<%= yield %>

</body>
</html>
