<!DOCTYPE html>
<html>
<head>
  <title>GearTrader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to "Gear Trader", home_path %>

		<div id="login">
			<% if current_user  %>
				<%= link_to current_user.username, profile_path %> |
			  	<%= link_to "Logout", destroy_session_path %> |
			  	<%= link_to "Create Post", new_post_path %>
			<% else %>
				<%= link_to "Register", new_user_path  %> |
			    <%= link_to "Login", new_session_path %>
			<% end %>
			
			<% flash.each do |key,value|  %>
			    <div class="<%= key %>" > <%= value %> </div>
			<% end %>
		</div>
	</header>
	<br>

<%= yield %>

</body>
</html>
